.root {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: repeating-linear-gradient(
      135deg,
      rgb(0, 0, 0) 0,
      rgb(0, 0, 0) 10px,
      transparent 10px,
      transparent 11px
    ),
    repeating-linear-gradient(22.5deg, rgb(0, 0, 0) 0, rgb(0, 0, 0) 10px, transparent 10px, transparent 11px),
    linear-gradient(
      90deg,
      hsl(194, 74%, 56%),
      hsl(266, 74%, 56%),
      hsl(338, 74%, 56%),
      hsl(50, 74%, 56%),
      hsl(122, 74%, 56%)
    );
}

.btn {
  margin-top: -5em;
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  /* .root { */
  /* width: 300px; */
  /* } */
}

.root :global .n-button {
  backdrop-filter: blur(80px);
}
