.root {
  /* TOOD */
  --search-bar-height: 290px;
  min-height: calc(100vh - var(--search-bar-height));
}

.bookmarkContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(232px, 1fr));
  gap: 56px 32px;
}

.dividerText {
  font-size: 12px;
  font-weight: normal;
}

@media screen and (max-width: 768px) {
  .bookmarkContainer {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px 10px;
  }
}
