.root :global .n-card-header__main {
  display: inline-flex;
  min-width: 0;
  align-items: center;
}

.root :global .n-card-header__main span {
  font-weight: normal;
  font-size: 1rem;
  cursor: pointer;
  display: block;
  margin: 0 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tagsBox {
  overflow-x: scroll;
  display: flex;
  column-gap: 5px;
  font-weight: lighter;
  padding-bottom: 3px;
  margin-top: 8px;
}

.tagsBox::-webkit-scrollbar {
  height: 3px;
}
