.root {
  max-width: 600px !important;
  display: flex !important;
  margin: 0 auto 100px;
  box-shadow: 0 3px 5px rgb(235, 235, 235);
}

.root :global .n-input__input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 0;
}

@media screen and (max-width: 768px) {
  .root {
    margin: 0 auto 20px;
  }
}
