.searchBar {
  max-width: 600px;
  margin: 0 auto 100px;
}

.searchBar :global .n-input__input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 0;
}

@media screen and (max-width: 768px) {
  .searchBar {
    margin: 0 auto 20px;
  }
}
