.searchBar {
  padding-top: 72px;
  position: relative;
  z-index: 1;
}

.searchBar::before,
.searchBar::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.searchBar::before {
  background-image: url('https://api.btstu.cn/sjbz/api.php?lx=fengjing');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: brightness(0.6);
}
.searchBar::after {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.searchBar > div {
  max-width: 600px;
  margin: 0 auto;
  overflow-y: visible;
}

/* 点击时的特效 */
/* .searchBar :global .n-input--focus {
  z-index: 999;
  outline: rgba(182, 182, 182, 0.205) solid 9999px;
  margin-bottom: 100vh;
} */

.searchBar :global .n-input__input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 0;
}

@media screen and (max-width: 768px) {
  .searchBar {
    padding: 56px 10px 0;
  }
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}
