::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 18px;
  background-color: rgba(128, 128, 128, 0.445);
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

:root {
  --primary-color: #8c5aee;
}

html {
  font-size: 14px;
  background-color: #f5faff;
}

body {
  overflow-y: scroll;
}
