.header {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.header > h2 {
  font-weight: normal;
  margin: unset;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.header > .buttonGroup {
  display: flex;
  gap: 4px;
  overflow: hidden;
  transition: width 250ms;
}

/* 描述文本 */
.description {
  --line-height: 1.375rem;
  line-height: var(--line-height);
  height: calc(2 * var(--line-height));

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.tagsBox {
  overflow-x: auto;
  display: flex;
  padding-bottom: 3px;
  margin-bottom: -3px;
}
.tagsBox::-webkit-scrollbar {
  height: 3px;
}

@media screen and (max-width: 768px) {
  .description {
    --line-height: 1.25rem;
  }
}
