div.tag-box {
  margin-left: -0.75rem;

  .tag {
    margin: 0.5rem 0.7rem;
  }
}

div.bookmark-box {
  display: grid;
  margin-bottom: 3rem;

  gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  place-content: flex-start;
}

.tip {
  margin: 2rem 0 1rem 0;
  border-bottom: 2px solid #f5f5f5;
  font-weight: bold;
  font-size: 1.5rem;

  span {
    color: #7e7e7e;
    cursor: pointer;

    &:hover {
      color: #444;
    }
  }
}
