/* 
全局样式 / 样式入口文件

若需在 .css 文件中使用 tailwind / heroui 提供的原子类，必须在文件顶部引入当前文件： `@reference "../global.css";`。

@reference 是 tailwindcss-v4 提供的指令，务必使用 `;` 结尾。

相关文档：
https://nextjs.org/docs/app/getting-started/css#tailwind-css
https://tailwindcss.com/docs/functions-and-directives
https://www.heroui.com/docs/guide/tailwind-v4
*/

@import 'tailwindcss';
@config '../tailwind.config.ts';

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-xs)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@theme {
  --breakpoint-*: initial;
  --breakpoint-xs: 650px;
  --breakpoint-sm: 960px;
  --breakpoint-md: 1280px;
  --breakpoint-lg: 1400px;
  --breakpoint-xl: 1920px;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@utility flex-items-center {
  display: flex;
  align-items: center;
}
